@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";

/* ================================================================ */
/* Box Model                                                        */
/* - Any style that affects spacing of elements. Includes flags     */
/* - like absolute positioning, hidden overflow.                    */
/* ================================================================ */
@import "../bower_components/shared-styles/box-model.less";

canvas { display: block; } // prevent inline, since the browser preserves whitespace around inline elems

.canvas-container {
  // height: 240px; // required!
  position: relative;
}

.btn-touch {
  height: 40px; // match swatch size
  margin-top: 8px; // match swatch padding
}

#storage-notice {
  display: none;
}

canvas#canvas-input {
  // position: absolute;
  // top: -100%; // pct of the height of the container
  // z-index: 10;
  // opacity: 0;
}

canvas#canvas-palette {
  margin-bottom: 8px;
}

/* ================================================================ */
/* Text                                                             */
/* ================================================================ */
@import "../bower_components/shared-styles/text.less";



/* ================================================================ */
/* Theme                                                            */
/* ================================================================ */
@import "../bower_components/shared-styles/theme.less";

.canvas-container {
  background-color: 'white';
  
  &#canvas-container-page {
    background-image: url('assets/logo-tile.png');
    background-position: left top;
    background-repeat: repeat;  
  }
}

canvas#canvas-input {
  border: 1px solid black;
}
